// ==============================================
// GRID
// ==============================================

.grid {

  &.row50 {

    @extend %clearfix;
    > * {
      width: 46%;
      float: left;
      &:first-child {
        margin-right: 4%;
      }
    }

  }

}